body {
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
	min-width: 320px;
}

._long {
	width: 100px;
	height: 4444px;
}


.btn_call{
	margin-top: 100px;
	padding: 15px 40px;
	border: none;
	background-color: #545bac;
	color: #fefefe;
	font-size: 24px;
	font-style: italic;
	
}


/* HEADER */

header{
	height: 770px;
	background-image: url(../img/Landing-Page_01.jpg);
	/* background: url(../img/Landing-Page_01.jpg) center center no-repeat; */
	-webkit-background-size: cover;
	        background-size: cover;
}

nav {
	height: 100px;
	line-height: 100px;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 999;
	background-color: rgba(51, 55, 111, .35);
}

.my_nav {
	position: fixed;
	right: 15px;
	display: block;
	border: none;
	margin-top: 30px;
	z-index: 995;
}

.my_nav:hover,
.my_nav:focus {
	background-color: rgba(0, 0, 0, 0) !important;
}



.logo_txt {
	font-style: italic;
	font-weight: 300;
	font-size: 27px;
	color: #2e334f;
}


.phone_bar {
	margin-right: 55px;
}

.phone_txt {
	font-weight: 500;
	font-size: 19px;
	color: #2e334f;
	margin: 0;
}

#navbar_collapse_1 {
	position: fixed;
	z-index: 990;
	width: 100%;
	top: 100px;
}

.nav_triangle {
	width: 0;
	height: 0;
	border-bottom: 25px solid rgba(51, 55, 111, .35);
	border-left: 15px solid transparent;
	border-right: 15px solid transparent;
	/* margin: 0 auto; */
	position: fixed;
	right: 43px;
	top: 75px;
	/* margin-right:15px; */
}

.my_dropdown {
	list-style-type: none;
	text-align: center;
	padding-left: 0px;
}

.my_dropdown li {
	line-height: 47px;
	background-color: rgba(51, 55, 111, .35);
	color: #2e334f;
}

/* .my_dropdown li:first-child{
	border-radius: 7px 7px 0 0;
}

.my_dropdown li:last-child{
	border-radius: 0 0 7px 7px;
} */

.my_dropdown li:hover {
	background-color: rgba(51, 55, 111, .55);
}

.my_dropdown li a {
	text-decoration: none;
	color: #2e334f;
	display: block;
	font-weight: 500;
}

.my_dropdown li a:focus,
.my_dropdown li a:hover {
	color: #2e334f;
	-webkit-transition: cubic-bezier(0.165, 0.84, 0.44, 1);
	-o-transition: cubic-bezier(0.165, 0.84, 0.44, 1);
	transition: cubic-bezier(0.165, 0.84, 0.44, 1)
}

.title_block {
	margin-top: 210px;
	text-align: center;
}

.title_block h1{
	font-size: 96px;
	/* font-family: 'Libre Baskerville', serif; */
	color: #29274e;
	font-weight: bold;
}

.title_block h2{
	padding-top: 10px;
	font-size: 50px;
	/* font-family: 'Rubik Mono One', sans-serif; */
	/* color: #fefefe; */
	color: #29274e;
	font-weight: bold;
}

/* ADV_BLOCK */

.advantages h2{
	padding-top: 50px;
	padding-bottom: 80px;
	text-align: center;
	color:#555050;
	font-size: 32px;
}

/* .adv_block{
	margin: 0 auto;
	
} */

.adv_block img{
	float: left;
	margin-right: 25px;
}

.adv_block p{
	padding-top: 10px;
	padding-bottom: 50px;
	font-weight: 400;
	font-size: 22px;
	color: #555050;
}