body {
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
	min-width: 320px;
}

.btn_call {
	margin-top: 100px;
	padding: 15px 40px;
	border: none;
	background-color: #545bac;
	color: #fefefe;
	font-size: 24px;
	font-style: italic;
}

.btn_offers {
	border: 2px solid #abadc3;
	background-color: #fff;
	color: #5a5757;
	font-size: 24px;
	font-style: italic;
	display: block;
	margin: 55px auto;
	padding: 9px 44px;
}

.btn_submit {
	background-color: #6d86c4;
	color: #d7d7da;
	font-size: 18px;
	line-height: 25px;
	font-weight: 400;
	display: block;
	border: none;
	padding: 10px 55px;
	margin: 35px auto;
}

.gradient_txt{
	background: -webkit-linear-gradient(-152deg, #a8509e 15%, #8b85b1 75%);
	background: -o-linear-gradient(-152deg, #a8509e 15%, #8b85b1 75%);
	background: linear-gradient(-152deg, #a8509e 15%, #8b85b1 75%);
	-webkit-background-clip: text;
	        background-clip: text;
	-webkit-text-fill-color: transparent;
	color: #0B2349;
}

/* HEADER */

header {
	height: 770px;
	background-image: url(../img/Landing-Page_01.jpg);
	background-position: center;
	-webkit-background-size: cover;
	background-size: cover;
}

nav {
	height: 100px;
	line-height: 100px;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 999;
	background-color: rgba(51, 55, 111, .35);
}

.my_nav {
	position: fixed;
	right: 15px;
	display: block;
	border: none;
	margin-top: 30px;
	z-index: 995;
}

.my_nav:hover,
.my_nav:focus {
	background-color: rgba(0, 0, 0, 0) !important;
}

.logo_txt {
	font-style: italic;
	font-weight: 300;
	font-size: 27px;
	color: #2e334f;
}

.phone_bar {
	margin-right: 55px;
}

.phone_txt {
	font-weight: 500;
	font-size: 19px;
	color: #2e334f;
	margin: 0;
}

#navbar_collapse_1 {
	position: fixed;
	z-index: 990;
	width: 100%;
	top: 100px;
}

.nav_triangle {
	width: 0;
	height: 0;
	border-bottom: 25px solid rgba(51, 55, 111, .35);
	border-left: 15px solid transparent;
	border-right: 15px solid transparent;
	/* margin: 0 auto; */
	position: fixed;
	right: 43px;
	top: 75px;
	/* margin-right:15px; */
}

.my_dropdown {
	list-style-type: none;
	text-align: center;
	padding-left: 0px;
}

.my_dropdown li {
	line-height: 47px;
	background-color: rgba(51, 55, 111, .35);
	color: #2e334f;
}

/* .my_dropdown li:first-child{
	border-radius: 7px 7px 0 0;
}

.my_dropdown li:last-child{
	border-radius: 0 0 7px 7px;
} */

.my_dropdown li:hover {
	background-color: rgba(51, 55, 111, .55);
}

.my_dropdown li a {
	text-decoration: none;
	color: #2e334f;
	display: block;
	font-weight: 500;
}

.my_dropdown li a:focus,
.my_dropdown li a:hover {
	color: #2e334f;
	-webkit-transition: cubic-bezier(0.165, 0.84, 0.44, 1);
	-o-transition: cubic-bezier(0.165, 0.84, 0.44, 1);
	transition: cubic-bezier(0.165, 0.84, 0.44, 1)
}

.title_block {
	margin-top: 210px;
	text-align: center;
}

.title_block h1 {
	font-size: 96px;
	/* font-family: 'Libre Baskerville', serif; */
	color: #29274e;
	font-weight: bold;
}

.title_block h2 {
	padding-top: 10px;
	font-size: 50px;
	/* font-family: 'Rubik Mono One', sans-serif; */
	/* color: #fefefe; */
	color: #29274e;
	font-weight: bold;
}

/* ADV_BLOCK */

.advantages h2 {
	padding-top: 50px;
	padding-bottom: 80px;
	text-align: center;
	color: #555050;
	font-size: 32px;
}

/* .adv_block{
	margin: 0 auto;
	
} */

.adv_block img {
	float: left;
	margin-right: 25px;
}

.adv_block p {
	padding-top: 10px;
	padding-bottom: 50px;
	/* font-weight: 400; */
	font-size: 22px;
	color: #555050;
}

/* ABOUT */

.about {
	min-height: 1080px;
	background-image: url(../img/Landing-Page2_02.jpg);
	-webkit-background-size: cover;
	background-size: cover;
	background-position: center;
}

.about h2 {
	font-size: 29px;
	font-weight: 400;
	text-align: center;
	padding-top: 40px;
	padding-bottom: 50px;
	color: #555050;
}

.about h2 span {
	font-size: 29px;
	text-transform: uppercase;
	font-style: italic;
	font-weight: 900;
}

.about_txt {
	text-align: justify;
}

.about_txt p {
	padding-bottom: 45px;
	color: #2e2f32;
	font-size: 16px;
	font-weight: 400;
}

.about h3 {
	font-weight: 700;
	text-transform: uppercase;
	font-size: 29px;
	text-align: center;
	padding-top: 60px;
	padding-bottom: 70px;
	color: #555050;
}

/* SCHEME */

.scheme_block img {
	margin: 0 auto;
}

.scheme_block p {
	text-align: center;
	color: #464444;
	font-size: 18px;
	font-weight: 500;
	padding-top: 20px;
	padding-bottom: 30px;
}

/* OFFERS */

.offers h2 {
	text-align: center;
	font-size: 29px;
	font-style: italic;
	font-weight: bold;
	color: #555050;
	padding-top: 80px;
}

.offers h3 {
	text-align: center;
	font-size: 29px;
	font-weight: 400;
	padding-top: 40px;
	padding-bottom: 80px;
}

.offers_block h4 {
	text-align: center;
	font-size: 29px;
	padding-bottom: 35px;
}

.offers_block img {
	margin: 0 auto;
}

/* PORTFOLIO */

.portfolio h2 {
	font-size: 29px;
	text-align: center;
	padding-top: 70px;
	padding-bottom: 75px;
}

.portfolio_block {
	position: relative;
	margin-bottom: 30px;
}

.portfolio_block img {
	margin: 0 auto;
}

.image_wrap {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(51, 55, 111, .35);
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	opacity: 0;
}

.portfolio_block:hover .image_wrap {
	opacity: 1;
}

.portfolio_descr {
	color: #fff;
	text-align: center;
	margin: auto;
}

/* ADAPT */

.adapt {
	margin-top: 100px;
	margin-bottom: 65px;
}

.adapt_block {
	color: #5a5757;
	text-align: center;
	margin-top: 100px;
}

.adapt_block h3 {
	font-size: 28px;
	line-height: 43px;
}

.adapt_block h4 {
	font-size: 20px;
	padding-top: 15px;
}

/* OTHER SERVICES */

.other_services {
	min-height: 594px;
	background-image: url(../img/Landing-Page_64.jpg);
	-webkit-background-size: cover;
	background-size: cover;
	background-position: center;
}

.other_services h2 {
	color: #545458;
	font-size: 28px;
	text-align: center;
	padding-top: 60px;
	padding-bottom: 40px;
}

.other_block {
	width: 200px;
	height: 188px;
	-webkit-background-size: cover;
	background-size: cover;
	background-position: center;
}

.hex_violet {
	background-image: url(../img/hex_violet.png);
}

.hex_green {
	background-image: url(../img/hex_green.png);
}

.hex_red {
	background-image: url(../img/hex_red.png);
}

.hex_yellow {
	background-image: url(../img/hex_yellow.png);
}

.hex_blue {
	background-image: url(../img/hex_blue.png);
}

.hex_beige {
	background-image: url(../img/hex_beige.png);
}

.other_block a {
	text-decoration: none;
	color: #545458;
	display: block;
	font-weight: 500;
}

.other_block a:focus,
.other_block a:hover {
	color: rgba(51, 55, 111, 1);
	-webkit-transition: cubic-bezier(0.165, 0.84, 0.44, 1);
	-o-transition: cubic-bezier(0.165, 0.84, 0.44, 1);
	transition: cubic-bezier(0.165, 0.84, 0.44, 1)
}

.other_block h5 {
	text-align: center;
	padding-top: 69px;
	padding-bottom: 69px;
	font-size: 22px;
}

.margin_top {
	margin-top: 107px;
	;
}

/* CONTACTS */

footer {
	min-height: 763px;
	background-image: url(../img/Landing-Page_65.jpg);
	-webkit-background-size: cover;
	background-size: cover;
	background-position: center;
}

.contacts_block {
	margin-top: 120px;
}

.contacts_block p {
	color: #d7d7da;
	font-size: 17px;
	font-weight: 400;
	line-height: 20px;
	padding-bottom: 17px;
}

.contact_form h2 {
	text-align: center;
	font-weight: 400;
	font-size: 28px;
	color: #d7d7da;
	padding-top: 25px;
	padding-bottom: 40px;
}

.contact_input {
	width: 262px;
	margin-bottom: 13px;
	border: 1px solid #fff;
	-webkit-border-radius: 8px;
	        border-radius: 8px;
	color: #d7d7da;
	font-size: 18px;
	font-weight: 400;
	background-color: rgba(0, 0, 0, 0)
}

.contact_textarea {
	width: 360px;
}

/* FOOTER */

.footer {
	height: 145px;
	background-color: rgba(51, 55, 111, .35);
	padding-top: 10px;
	position: relative;
	/* bottom: 0;
	left: 0; */
	width: 100%;
	margin-top: 101px;
}

.logo {
	margin-top: 20px;
	margin-bottom: 20px;
}

.logo img {
	float: left;
	margin-top: 7px;
	margin-bottom: 7px;
}

.logo p {
	font-size: 27px;
	font-style: italic;
	font-weight: 300;
	color: #fefefe;
	display: block;
	padding-top: 20px;
	margin-left: 74px;
}

.social {
	margin-top: 35px;
}

.social img {
	float: left;
	margin: 0 8px;
}