/*==========  Desktop First Method  ==========*/

/* Large Devices, Wide Screens */

@media only screen and (max-width: 1200px) {}

/* Medium Devices, Desktops */

@media only screen and (max-width: 992px) {
    .phone_bar {
        margin-right: 50px;
    }
}

/* Small Devices, Tablets */

@media only screen and (max-width: 768px) {
    header {
        height: 550px;
    }
    .my_nav {
        position: fixed;
        right: 15px;
    }
    .nav_triangle {
        right: 43px;
        /* top: 75px; */
    }
    .title_block {
        margin-top: 120px;
    }
    .title_block h1 {
        font-size: 76px;
    }
    .title_block h2 {
        padding-top: 0;
        font-size: 35px;
    }
    .btn_call {
        margin-top: 50px;
    }
    .adv_block img {
        float: none;
        margin: 0 auto;
    }
    .adv_block p {
        padding-top: 0;
        text-align: center
    }
    .offers h2 {
        padding-top: 70px;
    }
    .offers h3 {
        padding-top: 10px;
        padding-bottom: 40px;
    }
}

/* Extra Small Devices, Phones */

@media only screen and (max-width: 480px) {
    .logo_txt {
        font-size: 16px;
    }
    .padding_null {
        padding-right: 4px;
        padding-left: 4px
    }
    .my_nav {
        right: 0;
        margin-right: 5px;
    }
    .nav_triangle {
        right: 20px;
    }
    .title_block h1 {
        font-size: 66px;
    }
    .title_block h2 {
        /* padding-top: 0; */
        font-size: 25px;
    }
    .btn_call {
        margin-top: 30px;
        padding: 10px 30px;
        font-size: 20px;
    }
    .advantages h2 {
        padding-top: 40px;
        padding-bottom: 40px;
    }
    .offers h2 {
        padding-top: 35px;
    }
    .offers h3 {
        padding-top: 5px;
        padding-bottom: 5px;
    }
    .offers_block h4 {
        padding-bottom: 15px;
    }
    .btn_offers {
        margin: 20px auto 60px;
    }
}

/* Custom, iPhone Retina */

@media only screen and (max-width: 320px) {}

/*==========  Mobile First Method  ==========*/

/* Custom, iPhone Retina */

@media only screen and (min-width: 320px) {}

/* Extra Small Devices, Phones */

@media only screen and (min-width: 480px) {}

/* Small Devices, Tablets */

@media only screen and (min-width: 768px) {}

/* Medium Devices, Desktops */

@media only screen and (min-width: 992px) {}

/* Large Devices, Wide Screens */

@media only screen and (min-width: 1200px) {}