/*==========  Desktop First Method  ==========*/

/* Large Devices, Wide Screens */

@media only screen and (max-width: 1200px) {}

@media only screen and (max-width: 1100px) {}

/* Medium Devices, Desktops */

@media only screen and (max-width: 992px) {
    .phone_bar {
        margin-right: 50px;
    }
    .adapt_block {
        margin-top: 20px;
    }
    .adapt_block h3 {
        line-height: 35px;
    }
    .adapt_block h4 {
        padding-top: 0;
        padding-bottom: 80px;
    }
    .other_block {
        width: 172px;
        height: 162px;
    }
    .other_block h5 {
        padding-top: 57px;
        font-size: 20px;
    }
}

/* Small Devices, Tablets */

@media only screen and (max-width: 768px) {
    header {
        height: 550px;
    }
    .my_nav {
        position: fixed;
        right: 15px;
    }
    .nav_triangle {
        right: 43px;
        /* top: 75px; */
    }
    .my_dropdown li {
        padding: 12px;
    }
    .title_block {
        margin-top: 120px;
    }
    .title_block h1 {
        font-size: 76px;
    }
    .title_block h2 {
        padding-top: 0;
        font-size: 35px;
    }
    .btn_call {
        margin-top: 50px;
    }
    .adv_block img {
        float: none;
        margin: 0 auto;
    }
    .adv_block p {
        padding-top: 0;
        text-align: center
    }
    .offers h2 {
        padding-top: 70px;
    }
    .offers h3 {
        padding-top: 10px;
        padding-bottom: 40px;
    }
    .portfolio h2 {
        padding-top: 50px;
        padding-bottom: 55px;
    }
    .other_block {
        width: 152px;
        height: 142px;
    }
    .other_block h5 {
        padding-top: 49px;
        font-size: 18px;
    }
    .contact_form h2 {
        padding-top: 5px;
        padding-bottom: 40px;
    }
    .contacts_block {
        margin-top: 50px;
    }
    .contacts_block p {
        padding-bottom: 10px;
    }
    .contact_input {
        margin-left: auto;
        margin-right: auto;
    }
    .logo p {
        font-size: 19px;
        padding-top: 25px;
    }
}

/* Extra Small Devices, Phones */

@media only screen and (max-width: 480px) {
    .logo_txt {
        font-size: 16px;
    }
    .padding_null {
        padding-right: 5px;
        padding-left: 9px
    }
    .my_nav {
        right: 0;
        margin-right: 5px;
    }
    .nav_triangle {
        right: 20px;
    }
    .title_block h1 {
        font-size: 66px;
    }
    .title_block h2 {
        /* padding-top: 0; */
        font-size: 25px;
    }
    .btn_call {
        margin-top: 30px;
        padding: 10px 30px;
        font-size: 20px;
    }
    .advantages h2 {
        padding-top: 40px;
        padding-bottom: 40px;
    }
    .offers h2 {
        padding-top: 35px;
    }
    .offers h3 {
        padding-top: 5px;
        padding-bottom: 5px;
    }
    .offers_block h4 {
        padding-bottom: 15px;
    }
    .btn_offers {
        margin: 20px auto 60px;
    }
    .portfolio h2 {
        padding-top: 10px;
        padding-bottom: 35px;
    }
    .adapt {
        margin-top: 60px;
    }
    .adapt_block h3 {
        font-size: 24px;
        line-height: 30px;
    }
    .adapt_block h4 {
        font-size: 16px;
    }
    .contact_input {
        width: 222px;
    }
    .logo p {
        /* font-size: 16px; */
        padding-top: 18px;
        line-height: 20px;
    }
    .social img {
        width: 40%;
        margin: 0 3px;
        padding-top: 10px;
    }
    .logo {
        margin-top: 22px;
        margin-bottom: 20px;
    }
}

/* Custom, iPhone Retina */

@media only screen and (max-width: 320px) {}

/*==========  Mobile First Method  ==========*/

/* Custom, iPhone Retina */

@media only screen and (min-width: 320px) {}

/* Extra Small Devices, Phones */

@media only screen and (min-width: 480px) {}

/* Small Devices, Tablets */

@media only screen and (min-width: 768px) {}

/* Medium Devices, Desktops */

@media only screen and (min-width: 992px) {}

/* Large Devices, Wide Screens */

@media only screen and (min-width: 1200px) {}